<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LearnME</title>
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>
<body>
    <div class="navbar">
        <div class="left">
            <strong>ManageYourEvents</strong>
        </div>
        <div class="center">
            <a href="index.html">Home</a>
            <a href="#">About</a>
            <a href="#">Services</a>
        </div>
        <div class="right">
            <a href="/html/login.html" class="join-btn">Join Now</a>
        </div>
    </div>
    <div class="main-content">
        Manage Your All Events
    </div>
</body>
</html>
